{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": false,
	"htmlWhitespaceSensitivity": "ignore",
	"importOrder": ["^\\$lib", "^[./]"],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"printWidth": 65,
	"proseWrap": "always",
	"quoteProps": "preserve",
	"semi": true,
	"singleQuote": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"tabWidth": 3,
	"trailingComma": "none",
	"useTabs": true
}
